.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

.github/*

demo/demo.csv
demo/mbl.R

test.pdf
test.png
test.svg
test.tiff

tests/testthat/*.pdf
tests/testthat/*.png
tests/testthat/*.svg
tests/testthat/*.tiff

tests/testthat/testdraws/*.pdf
tests/testthat/testdraws/*.png
tests/testthat/testdraws/*.svg
tests/testthat/testdraws/*.tiff

tests/testthat/testdraws/*

tests/testthat/_snaps

coverage
