.Rproj.user
.Rhistory
.RData
.Ruserdata
*.png
.DS_Store

.github/*

demo/demo.csv
demo/mbl.R

tests/testthat/Rplots.pdf
tests/testthat/test.pdf
tests/testthat/test.png
tests/testthat/test.svg
tests/testthat/test.tiff

man/figures/*.png

tests/testthat/testdraws/*
